doctype html
html
    body
        head
            title A tribute to New York City
            meta(author='Matthew Burt')
            link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
            link(rel="stylesheet", type="text/css", href="css/style.css")
        .container
            .jumbotron
                .row
                    .col-1
                    .col
                        h1.text-center New York City
                        h2.text-center The City That Never Sleeps
                        figure.figure
                            img.figure-img.img-fluid(src="https://images.unsplash.com/photo-1472577938094-84871b72ccac?auto=format&fit=crop&w=1952&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D")
                            figcaption.figure-caption.text-center not an uncommon view of NYC at night.
                    .col-1
            .row
                .col
                .col-8
                    h3.text-center Timeline
                    ul
                        li
                            strong 1624
                            | : Manhattan was "discovered" by Dutch settlers.
                        li
                            strong 1664
                            | : It was taken over by the English.
                        li
                            strong 1776
                            | : The American Revolution.
                        li
                            strong 1789-1790
                            | : New York is the capital of the USA.
                        li
                            strong 1898
                            | : New York merges all the cities under one banner.
                        li
                            strong 1898
                            | : Large waves of immigration through Ellis Island begin.
                        li
                            strong 2001
                            | : New York City is attacked by terrorist group Al-Qaeda and the Twin Towers fall.
                    blockquote
                        p
                            | I look out the window and I see the lights and the skyline and the people on the street rushing around looking for action, love, and the world's greatest chocolate chip cookie, and my heart does a little dance.
                        footer
                            cite Nora Ephron
                    h3
                        | See more on
                        a(href="https://en.wikipedia.org/wiki/New_York_City") Wikipedia
                        | .
                .col
        .row
            .col
            .col.text-center
                footer
                    hr
                    p Designed and coded by Matthew Burt.
            .col
